@model IT_Department_Store.Models.DeviceMovement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DeviceMovement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CommanderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commander.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Device.DeviceId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Device.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Device.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NewPlaceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewPlace.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreviousPlaceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreviousPlace.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RankerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ranker.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoldierId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soldier.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
